<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bytefuture.data.modules.data.mapper.AggregateDataMapper">
    <delete id="truncateTableInfo">
        truncate table t_flow_info;
    </delete>

    <delete id="truncateTableDetail">
        truncate table t_flow_detail;
    </delete>

    <delete id="truncateTableItem">
        truncate table t_item;
    </delete>

    <delete id="truncateTableItemUrl">
        truncate table t_item_url;
    </delete>

    <delete id="truncateTableScene">
        truncate table t_scene;
    </delete>
    <delete id="truncateTableTemplate">
        truncate table t_from_template;
    </delete>

    <insert id="collectTableInfo">
        INSERT INTO t_flow_info (
            `ID`, `INFO_ID`, `BUSI_CODE`, `FLOW_CODE`, `SCENE_CODE`, `REGION_CODE`, `QYID`, `TYSHXYDM`, `QYMC`, `ZCH`, `CUR_NODE`, `STATE`, `HANDLE_TIME`, `SUBMISSION_TIME`, `USER_ID`, `HANDLE_SCENE_TYPE`, `TIME_OUT`, `CUR_ITEM`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `sign_status`
        ) SELECT
              UUID(),
              `ID`, `BUSI_CODE`, `FLOW_CODE`, `SCENE_CODE`, `REGION_CODE`, `QYID`, `TYSHXYDM`, `QYMC`, `ZCH`, `CUR_NODE`, `STATE`, `HANDLE_TIME`, `SUBMISSION_TIME`, `USER_ID`, `HANDLE_SCENE_TYPE`, `TIME_OUT`, `CUR_ITEM`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `sign_status`
        FROM
            t_flow_info_fzs UNION
        SELECT
            UUID(),
            `ID`, `BUSI_CODE`, `FLOW_CODE`, `SCENE_CODE`, `REGION_CODE`, `QYID`, `TYSHXYDM`, `QYMC`, `ZCH`, `CUR_NODE`, `STATE`, `HANDLE_TIME`, `SUBMISSION_TIME`, `USER_ID`, `HANDLE_SCENE_TYPE`, `TIME_OUT`, `CUR_ITEM`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `sign_status`
        FROM
            t_flow_info_gzs UNION
        SELECT
            UUID(),
            `ID`, `BUSI_CODE`, `FLOW_CODE`, `SCENE_CODE`, `REGION_CODE`, `QYID`, `TYSHXYDM`, `QYMC`, `ZCH`, `CUR_NODE`, `STATE`, `HANDLE_TIME`, `SUBMISSION_TIME`, `USER_ID`, `HANDLE_SCENE_TYPE`, `TIME_OUT`, `CUR_ITEM`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `sign_status`
        FROM
            t_flow_info_jdz UNION
        SELECT
            UUID(),
            `ID`, `BUSI_CODE`, `FLOW_CODE`, `SCENE_CODE`, `REGION_CODE`, `QYID`, `TYSHXYDM`, `QYMC`, `ZCH`, `CUR_NODE`, `STATE`, `HANDLE_TIME`, `SUBMISSION_TIME`, `USER_ID`, `HANDLE_SCENE_TYPE`, `TIME_OUT`, `CUR_ITEM`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `sign_status`
        FROM
            t_flow_info_jjs UNION
        SELECT
            UUID(),
            `ID`, `BUSI_CODE`, `FLOW_CODE`, `SCENE_CODE`, `REGION_CODE`, `QYID`, `TYSHXYDM`, `QYMC`, `ZCH`, `CUR_NODE`, `STATE`, `HANDLE_TIME`, `SUBMISSION_TIME`, `USER_ID`, `HANDLE_SCENE_TYPE`, `TIME_OUT`, `CUR_ITEM`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `sign_status`
        FROM
            t_flow_info_pxs UNION
        SELECT
            UUID(),
            `ID`, `BUSI_CODE`, `FLOW_CODE`, `SCENE_CODE`, `REGION_CODE`, `QYID`, `TYSHXYDM`, `QYMC`, `ZCH`, `CUR_NODE`, `STATE`, `HANDLE_TIME`, `SUBMISSION_TIME`, `USER_ID`, `HANDLE_SCENE_TYPE`, `TIME_OUT`, `CUR_ITEM`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `sign_status`
        FROM
            t_flow_info_srs UNION
        SELECT
            UUID(),
            `ID`, `BUSI_CODE`, `FLOW_CODE`, `SCENE_CODE`, `REGION_CODE`, `QYID`, `TYSHXYDM`, `QYMC`, `ZCH`, `CUR_NODE`, `STATE`, `HANDLE_TIME`, `SUBMISSION_TIME`, `USER_ID`, `HANDLE_SCENE_TYPE`, `TIME_OUT`, `CUR_ITEM`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `sign_status`
        FROM
            t_flow_info_ycs UNION
        SELECT
            UUID(),
            `ID`, `BUSI_CODE`, `FLOW_CODE`, `SCENE_CODE`, `REGION_CODE`, `QYID`, `TYSHXYDM`, `QYMC`, `ZCH`, `CUR_NODE`, `STATE`, `HANDLE_TIME`, `SUBMISSION_TIME`, `USER_ID`, `HANDLE_SCENE_TYPE`, `TIME_OUT`, `CUR_ITEM`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `sign_status`
        FROM
            t_flow_info_yts
    </insert>

    <insert id="collectTableDetail">
        INSERT INTO t_flow_detail (
            `ID`,`DETAIL_ID`,`BUSI_CODE`,`ITEM_CODE`,`LEVEL`,`ONE_WINDOW_ITEM_CODE`,`RECEIVE_NUM`,`LICENCE_CODE`,`OPTIONS`,`HANDLE_OBJECT_TYPE`,`STATUS`,`AUDIT_TIME`,`AUDITOR`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`CHECK_STATUS`,`DEL_FLAG`,`TIME_OUT`,`IS_CONVER_GENCE_PUSH_TAG`,`THIRD_PARTY_BUSINESS_STATUS`,`DRUGS_RECEIVE_NUM`
        ) SELECT
              UUID(),`ID`,`BUSI_CODE`,`ITEM_CODE`,`LEVEL`,`ONE_WINDOW_ITEM_CODE`,`RECEIVE_NUM`,`LICENCE_CODE`,`OPTIONS`,`HANDLE_OBJECT_TYPE`,`STATUS`,`AUDIT_TIME`,`AUDITOR`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`CHECK_STATUS`,`DEL_FLAG`,`TIME_OUT`,`IS_CONVER_GENCE_PUSH_TAG`,`THIRD_PARTY_BUSINESS_STATUS`,`DRUGS_RECEIVE_NUM`
        FROM
            t_flow_detail_fzs UNION
        SELECT
            UUID(),`ID`,`BUSI_CODE`,`ITEM_CODE`,`LEVEL`,`ONE_WINDOW_ITEM_CODE`,`RECEIVE_NUM`,`LICENCE_CODE`,`OPTIONS`,`HANDLE_OBJECT_TYPE`,`STATUS`,`AUDIT_TIME`,`AUDITOR`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`CHECK_STATUS`,`DEL_FLAG`,`TIME_OUT`,`IS_CONVER_GENCE_PUSH_TAG`,`THIRD_PARTY_BUSINESS_STATUS`,`DRUGS_RECEIVE_NUM`
        FROM
            t_flow_detail_gzs UNION
        SELECT
            UUID(),`ID`,`BUSI_CODE`,`ITEM_CODE`,`LEVEL`,`ONE_WINDOW_ITEM_CODE`,`RECEIVE_NUM`,`LICENCE_CODE`,`OPTIONS`,`HANDLE_OBJECT_TYPE`,`STATUS`,`AUDIT_TIME`,`AUDITOR`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`CHECK_STATUS`,`DEL_FLAG`,`TIME_OUT`,`IS_CONVER_GENCE_PUSH_TAG`,`THIRD_PARTY_BUSINESS_STATUS`,`DRUGS_RECEIVE_NUM`
        FROM
            t_flow_detail_jdz UNION
        SELECT
            UUID(),`ID`,`BUSI_CODE`,`ITEM_CODE`,`LEVEL`,`ONE_WINDOW_ITEM_CODE`,`RECEIVE_NUM`,`LICENCE_CODE`,`OPTIONS`,`HANDLE_OBJECT_TYPE`,`STATUS`,`AUDIT_TIME`,`AUDITOR`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`CHECK_STATUS`,`DEL_FLAG`,`TIME_OUT`,`IS_CONVER_GENCE_PUSH_TAG`,`THIRD_PARTY_BUSINESS_STATUS`,`DRUGS_RECEIVE_NUM`
        FROM
            t_flow_detail_jjs UNION
        SELECT
            UUID(),`ID`,`BUSI_CODE`,`ITEM_CODE`,`LEVEL`,`ONE_WINDOW_ITEM_CODE`,`RECEIVE_NUM`,`LICENCE_CODE`,`OPTIONS`,`HANDLE_OBJECT_TYPE`,`STATUS`,`AUDIT_TIME`,`AUDITOR`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`CHECK_STATUS`,`DEL_FLAG`,`TIME_OUT`,`IS_CONVER_GENCE_PUSH_TAG`,`THIRD_PARTY_BUSINESS_STATUS`,`DRUGS_RECEIVE_NUM`
        FROM
            t_flow_detail_pxs UNION
        SELECT
            UUID(),`ID`,`BUSI_CODE`,`ITEM_CODE`,`LEVEL`,`ONE_WINDOW_ITEM_CODE`,`RECEIVE_NUM`,`LICENCE_CODE`,`OPTIONS`,`HANDLE_OBJECT_TYPE`,`STATUS`,`AUDIT_TIME`,`AUDITOR`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`CHECK_STATUS`,`DEL_FLAG`,`TIME_OUT`,`IS_CONVER_GENCE_PUSH_TAG`,`THIRD_PARTY_BUSINESS_STATUS`,`DRUGS_RECEIVE_NUM`
        FROM
            t_flow_detail_srs UNION
        SELECT
            UUID(),`ID`,`BUSI_CODE`,`ITEM_CODE`,`LEVEL`,`ONE_WINDOW_ITEM_CODE`,`RECEIVE_NUM`,`LICENCE_CODE`,`OPTIONS`,`HANDLE_OBJECT_TYPE`,`STATUS`,`AUDIT_TIME`,`AUDITOR`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`CHECK_STATUS`,`DEL_FLAG`,`TIME_OUT`,`IS_CONVER_GENCE_PUSH_TAG`,`THIRD_PARTY_BUSINESS_STATUS`,`DRUGS_RECEIVE_NUM`
        FROM
            t_flow_detail_ycs UNION
        SELECT
            UUID(),`ID`,`BUSI_CODE`,`ITEM_CODE`,`LEVEL`,`ONE_WINDOW_ITEM_CODE`,`RECEIVE_NUM`,`LICENCE_CODE`,`OPTIONS`,`HANDLE_OBJECT_TYPE`,`STATUS`,`AUDIT_TIME`,`AUDITOR`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`CHECK_STATUS`,`DEL_FLAG`,`TIME_OUT`,`IS_CONVER_GENCE_PUSH_TAG`,`THIRD_PARTY_BUSINESS_STATUS`,`DRUGS_RECEIVE_NUM`
        FROM
            t_flow_detail_yts
    </insert>

    <insert id="collectTableItem">
        INSERT INTO t_item (
            `ID`, `ITEM_ID`, `ONEWINDOW_ITEM_ID`, `ITEM_CODE`, `ITEM_NAME`, `ITEM_HANDLER_TYPE`, `ORG_CODE`, `DEPT_NAME`, `ONEWINDOW_FORM_ID`, `DISTRICT`, `BUSINESS_TYPE`, `ONE_TIME`, `MORE_TIME`, `URL`, `SMALL_ICONS`, `SORT`, `VERSION_NUMBER`, `STATUS`, `ITEM_SEND_WAYS`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `PROMISE_TIME`, `LEGAL_TIME`, `CAN_TRANSACT`, `LEVEL`, `RUN_COUNT`, `DEL_FLAG`, `LCON`, `SCOPE`, `INDUSTRY_CHAIN`, `INDUSTRY_CHAIN_STAGE`
        ) SELECT
              UUID(),
              `ID`, `ONEWINDOW_ITEM_ID`, `ITEM_CODE`, `ITEM_NAME`, `ITEM_HANDLER_TYPE`, `ORG_CODE`, `DEPT_NAME`, `ONEWINDOW_FORM_ID`, `DISTRICT`, `BUSINESS_TYPE`, `ONE_TIME`, `MORE_TIME`, `URL`, `SMALL_ICONS`, `SORT`, `VERSION_NUMBER`, `STATUS`, `ITEM_SEND_WAYS`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `PROMISE_TIME`, `LEGAL_TIME`, `CAN_TRANSACT`, `LEVEL`, `RUN_COUNT`, `DEL_FLAG`, `LCON`, `SCOPE`, `INDUSTRY_CHAIN`, `INDUSTRY_CHAIN_STAGE`
        FROM
            t_item_fzs UNION
        SELECT
            UUID(),
            `ID`, `ONEWINDOW_ITEM_ID`, `ITEM_CODE`, `ITEM_NAME`, `ITEM_HANDLER_TYPE`, `ORG_CODE`, `DEPT_NAME`, `ONEWINDOW_FORM_ID`, `DISTRICT`, `BUSINESS_TYPE`, `ONE_TIME`, `MORE_TIME`, `URL`, `SMALL_ICONS`, `SORT`, `VERSION_NUMBER`, `STATUS`, `ITEM_SEND_WAYS`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `PROMISE_TIME`, `LEGAL_TIME`, `CAN_TRANSACT`, `LEVEL`, `RUN_COUNT`, `DEL_FLAG`, `LCON`, `SCOPE`, `INDUSTRY_CHAIN`, `INDUSTRY_CHAIN_STAGE`
        FROM
            t_item_gzs UNION
        SELECT
            UUID(),
            `ID`, `ONEWINDOW_ITEM_ID`, `ITEM_CODE`, `ITEM_NAME`, `ITEM_HANDLER_TYPE`, `ORG_CODE`, `DEPT_NAME`, `ONEWINDOW_FORM_ID`, `DISTRICT`, `BUSINESS_TYPE`, `ONE_TIME`, `MORE_TIME`, `URL`, `SMALL_ICONS`, `SORT`, `VERSION_NUMBER`, `STATUS`, `ITEM_SEND_WAYS`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `PROMISE_TIME`, `LEGAL_TIME`, `CAN_TRANSACT`, `LEVEL`, `RUN_COUNT`, `DEL_FLAG`, `LCON`, `SCOPE`, `INDUSTRY_CHAIN`, `INDUSTRY_CHAIN_STAGE`
        FROM
            t_item_jdz UNION
        SELECT
            UUID(),
            `ID`, `ONEWINDOW_ITEM_ID`, `ITEM_CODE`, `ITEM_NAME`, `ITEM_HANDLER_TYPE`, `ORG_CODE`, `DEPT_NAME`, `ONEWINDOW_FORM_ID`, `DISTRICT`, `BUSINESS_TYPE`, `ONE_TIME`, `MORE_TIME`, `URL`, `SMALL_ICONS`, `SORT`, `VERSION_NUMBER`, `STATUS`, `ITEM_SEND_WAYS`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `PROMISE_TIME`, `LEGAL_TIME`, `CAN_TRANSACT`, `LEVEL`, `RUN_COUNT`, `DEL_FLAG`, `LCON`, `SCOPE`, `INDUSTRY_CHAIN`, `INDUSTRY_CHAIN_STAGE`
        FROM
            t_item_jjs UNION
        SELECT
            UUID(),
            `ID`, `ONEWINDOW_ITEM_ID`, `ITEM_CODE`, `ITEM_NAME`, `ITEM_HANDLER_TYPE`, `ORG_CODE`, `DEPT_NAME`, `ONEWINDOW_FORM_ID`, `DISTRICT`, `BUSINESS_TYPE`, `ONE_TIME`, `MORE_TIME`, `URL`, `SMALL_ICONS`, `SORT`, `VERSION_NUMBER`, `STATUS`, `ITEM_SEND_WAYS`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `PROMISE_TIME`, `LEGAL_TIME`, `CAN_TRANSACT`, `LEVEL`, `RUN_COUNT`, `DEL_FLAG`, `LCON`, `SCOPE`, `INDUSTRY_CHAIN`, `INDUSTRY_CHAIN_STAGE`
        FROM
            t_item_pxs UNION
        SELECT
            UUID(),
            `ID`, `ONEWINDOW_ITEM_ID`, `ITEM_CODE`, `ITEM_NAME`, `ITEM_HANDLER_TYPE`, `ORG_CODE`, `DEPT_NAME`, `ONEWINDOW_FORM_ID`, `DISTRICT`, `BUSINESS_TYPE`, `ONE_TIME`, `MORE_TIME`, `URL`, `SMALL_ICONS`, `SORT`, `VERSION_NUMBER`, `STATUS`, `ITEM_SEND_WAYS`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `PROMISE_TIME`, `LEGAL_TIME`, `CAN_TRANSACT`, `LEVEL`, `RUN_COUNT`, `DEL_FLAG`, `LCON`, `SCOPE`, `INDUSTRY_CHAIN`, `INDUSTRY_CHAIN_STAGE`
        FROM
            t_item_srs UNION
        SELECT
            UUID(),
            `ID`, `ONEWINDOW_ITEM_ID`, `ITEM_CODE`, `ITEM_NAME`, `ITEM_HANDLER_TYPE`, `ORG_CODE`, `DEPT_NAME`, `ONEWINDOW_FORM_ID`, `DISTRICT`, `BUSINESS_TYPE`, `ONE_TIME`, `MORE_TIME`, `URL`, `SMALL_ICONS`, `SORT`, `VERSION_NUMBER`, `STATUS`, `ITEM_SEND_WAYS`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `PROMISE_TIME`, `LEGAL_TIME`, `CAN_TRANSACT`, `LEVEL`, `RUN_COUNT`, `DEL_FLAG`, `LCON`, `SCOPE`, `INDUSTRY_CHAIN`, `INDUSTRY_CHAIN_STAGE`
        FROM
            t_item_ycs UNION
        SELECT
            UUID(),
            `ID`, `ONEWINDOW_ITEM_ID`, `ITEM_CODE`, `ITEM_NAME`, `ITEM_HANDLER_TYPE`, `ORG_CODE`, `DEPT_NAME`, `ONEWINDOW_FORM_ID`, `DISTRICT`, `BUSINESS_TYPE`, `ONE_TIME`, `MORE_TIME`, `URL`, `SMALL_ICONS`, `SORT`, `VERSION_NUMBER`, `STATUS`, `ITEM_SEND_WAYS`, `REVISION`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `PROMISE_TIME`, `LEGAL_TIME`, `CAN_TRANSACT`, `LEVEL`, `RUN_COUNT`, `DEL_FLAG`, `LCON`, `SCOPE`, `INDUSTRY_CHAIN`, `INDUSTRY_CHAIN_STAGE`
        FROM
            t_item_yts
    </insert>

    <insert id="collectTableItemUrl">
        INSERT INTO t_item_url (
            `ID`, `ITEM_URL_ID`, `ITEM_CODE`, `URL_PATH`, `REGION_NAME`, `SORT`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `REGION_CODE`
        ) SELECT
              UUID(),
              `ID`, `ITEM_CODE`, `URL_PATH`, `REGION_NAME`, `SORT`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `REGION_CODE`
        FROM
            t_item_url_fzs UNION
        SELECT
            UUID(),
            `ID`, `ITEM_CODE`, `URL_PATH`, `REGION_NAME`, `SORT`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `REGION_CODE`
        FROM
            t_item_url_gzs UNION
        SELECT
            UUID(),
            `ID`, `ITEM_CODE`, `URL_PATH`, `REGION_NAME`, `SORT`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `REGION_CODE`
        FROM
            t_item_url_jdz UNION
        SELECT
            UUID(),
            `ID`, `ITEM_CODE`, `URL_PATH`, `REGION_NAME`, `SORT`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `REGION_CODE`
        FROM
            t_item_url_jjs UNION
        SELECT
            UUID(),
            `ID`, `ITEM_CODE`, `URL_PATH`, `REGION_NAME`, `SORT`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `REGION_CODE`
        FROM
            t_item_url_pxs UNION
        SELECT
            UUID(),
            `ID`, `ITEM_CODE`, `URL_PATH`, `REGION_NAME`, `SORT`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `REGION_CODE`
        FROM
            t_item_url_srs UNION
        SELECT
            UUID(),
            `ID`, `ITEM_CODE`, `URL_PATH`, `REGION_NAME`, `SORT`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `REGION_CODE`
        FROM
            t_item_url_ycs UNION
        SELECT
            UUID(),
            `ID`, `ITEM_CODE`, `URL_PATH`, `REGION_NAME`, `SORT`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `REGION_CODE`
        FROM
            t_item_url_yts
    </insert>
    <insert id="collectTableScene">
        INSERT INTO t_scene (
            `ID`, `SCENE_ID`,`SORT_NUM`, `SCENE_NAME`, `BUSINESS_TYPE`, `SCENE_TYPE`, `DISTRICT`, `REVISION`, `SMALL_ICONS`, `BABBER`, `VERSION_NUMBER`, `LCON`, `CAN_TRANSACT`, `PUBLISH_STATUS`, `SMART_ANSWER`, `ONCE_INFORM`, `ONCE_FILL`, `INDUSTRY_CHAIN`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `IS_CHANGE`, `IS_CANCEL`, `CHANGE_NAME`, `CANCEL_NAME`, `SCOPE`
        ) SELECT
              UUID(),
              `ID`, `SORT_NUM`, `SCENE_NAME`, `BUSINESS_TYPE`, `SCENE_TYPE`, `DISTRICT`, `REVISION`, `SMALL_ICONS`, `BABBER`, `VERSION_NUMBER`, `LCON`, `CAN_TRANSACT`, `PUBLISH_STATUS`, `SMART_ANSWER`, `ONCE_INFORM`, `ONCE_FILL`, `INDUSTRY_CHAIN`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `IS_CHANGE`, `IS_CANCEL`, `CHANGE_NAME`, `CANCEL_NAME`, `SCOPE`
        FROM
            t_scene_fzs UNION
        SELECT
            UUID(),
            `ID`, `SORT_NUM`, `SCENE_NAME`, `BUSINESS_TYPE`, `SCENE_TYPE`, `DISTRICT`, `REVISION`, `SMALL_ICONS`, `BABBER`, `VERSION_NUMBER`, `LCON`, `CAN_TRANSACT`, `PUBLISH_STATUS`, `SMART_ANSWER`, `ONCE_INFORM`, `ONCE_FILL`, `INDUSTRY_CHAIN`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `IS_CHANGE`, `IS_CANCEL`, `CHANGE_NAME`, `CANCEL_NAME`, `SCOPE`
        FROM
            t_scene_gzs UNION
        SELECT
            UUID(),
            `ID`, `SORT_NUM`, `SCENE_NAME`, `BUSINESS_TYPE`, `SCENE_TYPE`, `DISTRICT`, `REVISION`, `SMALL_ICONS`, `BABBER`, `VERSION_NUMBER`, `LCON`, `CAN_TRANSACT`, `PUBLISH_STATUS`, `SMART_ANSWER`, `ONCE_INFORM`, `ONCE_FILL`, `INDUSTRY_CHAIN`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `IS_CHANGE`, `IS_CANCEL`, `CHANGE_NAME`, `CANCEL_NAME`, `SCOPE`
        FROM
            t_scene_jdz UNION
        SELECT
            UUID(),
            `ID`, `SORT_NUM`, `SCENE_NAME`, `BUSINESS_TYPE`, `SCENE_TYPE`, `DISTRICT`, `REVISION`, `SMALL_ICONS`, `BABBER`, `VERSION_NUMBER`, `LCON`, `CAN_TRANSACT`, `PUBLISH_STATUS`, `SMART_ANSWER`, `ONCE_INFORM`, `ONCE_FILL`, `INDUSTRY_CHAIN`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `IS_CHANGE`, `IS_CANCEL`, `CHANGE_NAME`, `CANCEL_NAME`, `SCOPE`
        FROM
            t_scene_jjs UNION
        SELECT
            UUID(),
            `ID`, `SORT_NUM`, `SCENE_NAME`, `BUSINESS_TYPE`, `SCENE_TYPE`, `DISTRICT`, `REVISION`, `SMALL_ICONS`, `BABBER`, `VERSION_NUMBER`, `LCON`, `CAN_TRANSACT`, `PUBLISH_STATUS`, `SMART_ANSWER`, `ONCE_INFORM`, `ONCE_FILL`, `INDUSTRY_CHAIN`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `IS_CHANGE`, `IS_CANCEL`, `CHANGE_NAME`, `CANCEL_NAME`, `SCOPE`
        FROM
            t_scene_pxs UNION
        SELECT
            UUID(),
            `ID`, `SORT_NUM`, `SCENE_NAME`, `BUSINESS_TYPE`, `SCENE_TYPE`, `DISTRICT`, `REVISION`, `SMALL_ICONS`, `BABBER`, `VERSION_NUMBER`, `LCON`, `CAN_TRANSACT`, `PUBLISH_STATUS`, `SMART_ANSWER`, `ONCE_INFORM`, `ONCE_FILL`, `INDUSTRY_CHAIN`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `IS_CHANGE`, `IS_CANCEL`, `CHANGE_NAME`, `CANCEL_NAME`, `SCOPE`
        FROM
            t_scene_srs UNION
        SELECT
            UUID(),
            `ID`, `SORT_NUM`, `SCENE_NAME`, `BUSINESS_TYPE`, `SCENE_TYPE`, `DISTRICT`, `REVISION`, `SMALL_ICONS`, `BABBER`, `VERSION_NUMBER`, `LCON`, `CAN_TRANSACT`, `PUBLISH_STATUS`, `SMART_ANSWER`, `ONCE_INFORM`, `ONCE_FILL`, `INDUSTRY_CHAIN`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `IS_CHANGE`, `IS_CANCEL`, `CHANGE_NAME`, `CANCEL_NAME`, `SCOPE`
        FROM
            t_scene_ycs UNION
        SELECT
            UUID(),
            `ID`, `SORT_NUM`, `SCENE_NAME`, `BUSINESS_TYPE`, `SCENE_TYPE`, `DISTRICT`, `REVISION`, `SMALL_ICONS`, `BABBER`, `VERSION_NUMBER`, `LCON`, `CAN_TRANSACT`, `PUBLISH_STATUS`, `SMART_ANSWER`, `ONCE_INFORM`, `ONCE_FILL`, `INDUSTRY_CHAIN`, `CREATED_BY`, `CREATED_TIME`, `UPDATED_BY`, `UPDATED_TIME`, `DEL_FLAG`, `IS_CHANGE`, `IS_CANCEL`, `CHANGE_NAME`, `CANCEL_NAME`, `SCOPE`
        FROM
            t_scene_yts
    </insert>
    <insert id="collectTableTemplate">
        INSERT INTO t_from_template (
            `ID`,`TEMPLATE_ID`,`ITEMFORM_ID`,`ITEM_CODE`,`DISTRICT`,`NODE`,`NAME`,`VERSION_NUMBER`,`INFO_SUB`,`CREAT_TYPE`,`TABLE_NAME`,`BUSINESS_TYPE`,`FROM_TYPE`,`IS_STATIC`,`URL`,`CHANGE_ITEM_ID`,`SINGLE_SIGN`,`MUST_FILL`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`DEL_FLAG`
        ) SELECT
              UUID(),
              `ID`,`ITEMFORM_ID`,`ITEM_CODE`,`DISTRICT`,`NODE`,`NAME`,`VERSION_NUMBER`,`INFO_SUB`,`CREAT_TYPE`,`TABLE_NAME`,`BUSINESS_TYPE`,`FROM_TYPE`,`IS_STATIC`,`URL`,`CHANGE_ITEM_ID`,`SINGLE_SIGN`,`MUST_FILL`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`DEL_FLAG`
        FROM
            t_from_template_fzs UNION
        SELECT
            UUID(),
            `ID`,`ITEMFORM_ID`,`ITEM_CODE`,`DISTRICT`,`NODE`,`NAME`,`VERSION_NUMBER`,`INFO_SUB`,`CREAT_TYPE`,`TABLE_NAME`,`BUSINESS_TYPE`,`FROM_TYPE`,`IS_STATIC`,`URL`,`CHANGE_ITEM_ID`,`SINGLE_SIGN`,`MUST_FILL`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`DEL_FLAG`
        FROM
            t_from_template_gzs UNION
        SELECT
            UUID(),
            `ID`,`ITEMFORM_ID`,`ITEM_CODE`,`DISTRICT`,`NODE`,`NAME`,`VERSION_NUMBER`,`INFO_SUB`,`CREAT_TYPE`,`TABLE_NAME`,`BUSINESS_TYPE`,`FROM_TYPE`,`IS_STATIC`,`URL`,`CHANGE_ITEM_ID`,`SINGLE_SIGN`,`MUST_FILL`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`DEL_FLAG`
        FROM
            t_from_template_jdz UNION
        SELECT
            UUID(),
            `ID`,`ITEMFORM_ID`,`ITEM_CODE`,`DISTRICT`,`NODE`,`NAME`,`VERSION_NUMBER`,`INFO_SUB`,`CREAT_TYPE`,`TABLE_NAME`,`BUSINESS_TYPE`,`FROM_TYPE`,`IS_STATIC`,`URL`,`CHANGE_ITEM_ID`,`SINGLE_SIGN`,`MUST_FILL`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`DEL_FLAG`
        FROM
            t_from_template_jjs UNION
        SELECT
            UUID(),
            `ID`,`ITEMFORM_ID`,`ITEM_CODE`,`DISTRICT`,`NODE`,`NAME`,`VERSION_NUMBER`,`INFO_SUB`,`CREAT_TYPE`,`TABLE_NAME`,`BUSINESS_TYPE`,`FROM_TYPE`,`IS_STATIC`,`URL`,`CHANGE_ITEM_ID`,`SINGLE_SIGN`,`MUST_FILL`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`DEL_FLAG`
        FROM
            t_from_template_pxs UNION
        SELECT
            UUID(),
            `ID`,`ITEMFORM_ID`,`ITEM_CODE`,`DISTRICT`,`NODE`,`NAME`,`VERSION_NUMBER`,`INFO_SUB`,`CREAT_TYPE`,`TABLE_NAME`,`BUSINESS_TYPE`,`FROM_TYPE`,`IS_STATIC`,`URL`,`CHANGE_ITEM_ID`,`SINGLE_SIGN`,`MUST_FILL`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`DEL_FLAG`
        FROM
            t_from_template_srs UNION
        SELECT
            UUID(),
            `ID`,`ITEMFORM_ID`,`ITEM_CODE`,`DISTRICT`,`NODE`,`NAME`,`VERSION_NUMBER`,`INFO_SUB`,`CREAT_TYPE`,`TABLE_NAME`,`BUSINESS_TYPE`,`FROM_TYPE`,`IS_STATIC`,`URL`,`CHANGE_ITEM_ID`,`SINGLE_SIGN`,`MUST_FILL`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`DEL_FLAG`
        FROM
            t_from_template_ycs UNION
        SELECT
            UUID(),
            `ID`,`ITEMFORM_ID`,`ITEM_CODE`,`DISTRICT`,`NODE`,`NAME`,`VERSION_NUMBER`,`INFO_SUB`,`CREAT_TYPE`,`TABLE_NAME`,`BUSINESS_TYPE`,`FROM_TYPE`,`IS_STATIC`,`URL`,`CHANGE_ITEM_ID`,`SINGLE_SIGN`,`MUST_FILL`,`REVISION`,`CREATED_BY`,`CREATED_TIME`,`UPDATED_BY`,`UPDATED_TIME`,`DEL_FLAG`
        FROM
            t_from_template_yts
    </insert>

</mapper>
